altgraph==0.17.2
auto-py-to-exe==2.20.1
bottle==0.12.21
bottle-websocket==0.2.9
certifi==2022.5.18.1
cffi==1.15.0
Eel==0.14.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
numpy==1.22.4
opencv-python==4.5.3.56
pefile==2022.5.30
pipenv==2022.6.7
pycparser==2.21
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
PyQt6==6.3.0
PyQt6-Qt6==6.3.0
PyQt6-sip==13.3.1
pywin32-ctypes==0.2.0
whichcraft==0.6.1
wincertstore==0.2
zan==0.0.1
zope.event==4.5.0
zope.interface==5.4.0
